---
import '../styles/global.css'
import NavBar from '../components/NavBar.vue'
import Footer from '../components/Footer.astro'
import Profile from '../components/Profile.vue'

const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Momo Blog</title>
	</head>
	<body>
		
			<NavBar />

		
		<div class="shadow-md rounded-2xl m-5 h-[80vh] w-[90%] mx-auto">
			<Profile />
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	
	</style>
