/* 通用样式 */
body,
p,
ul,
ol,
li,
h1,
h2,
h3,
pre,
blockquote,
code {
  text-align: left;
  line-height: 1.75;
  font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial,
    sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}

/* 标题样式 */
h1,
h2 {
  text-align: center;
  font-size: 16.8px;
  font-weight: bold;
  margin: 4em auto 2em;
  display: table;
  padding: 0 0.2em;
}

h1 {
  border-bottom: 2px solid #0f4c81;
  color: #3f3f3f;
  margin-top: 0;
}

h2 {
  background: #0f4c81;
  color: #fff;
}

h3 {
  font-size: 15.4px;
  line-height: 1.2;
  font-weight: bold;
  padding-left: 8px;
  border-left: 3px solid #0f4c81;
  margin: 2em 8px 0.75em 0;
}

/* 列表样式 */
ul,
ol {
  list-style: circle;
  padding-left: 1em;
  margin-left: 0;
}

li {
  text-indent: -1em;
  display: block;
  margin: 0.2em 8px;
}

/* 强调文字 */
strong {
  font-size: inherit;
  color: #0f4c81;
  font-weight: bold;
}

/* 分割线 */
hr {
  border-style: solid;
  border-width: 2px 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: scale(1, 0.5);
  height: 0.4em;
  margin: 1.5em 0;
}

/* 代码块 */
code {
  font-size: 90%;
  color: #d14;
  background: rgba(27, 31, 35, 0.05);
  padding: 3px 5px;
  border-radius: 4px;
}

pre {
  line-height: 1.5;
  overflow-x: auto;
  border-radius: 8px;
  margin: 10px 8px;
  padding: 0 !important;
}

/* 引用块 */
blockquote {
  font-style: normal;
  padding: 1em;
  border-left: 4px solid #0f4c81;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.5);
  background: #f7f7f7;
  margin-bottom: 1em;
}

/* 图片样式 */
img {
  display: block;
  margin: 0.1em auto 0.5em;
  border-radius: 4px;
}

figcaption {
  text-align: center;
  font-size: 0.8em;
  color: #888;
}
